<div class="col-sm-8 col-sm-offset-2">
  <form method="POST">
    <legend>Sign In</legend>
    <div class="form-group">
      <div class="btn-group btn-group-justified">
        <a href="/auth/ebay" class="btn btn-google-plus">
            Sign in with Ebay
        </a>
      </div>
    </div>
  </form>
</div>