<div class="col-sm-8 col-sm-offset-2">
    <form method="POST">
        <legend>Sign Up</legend>
        <div class="form-group">
            <div class="btn-group btn-group-justified">
                <a href="/auth/ebay" class="btn btn-google-plus">
                    Sign up with Ebay
                </a>
            </div>
        </div>
    </form>
</div>