<div id="footer">
  <div class="container text-center">
    <div>© 2016 Company, Inc.</div>

    <div>
      <strong>Pricer</strong>
       Project
       .
       Created By
       <a href="http://sahatyalkabov.com"> Elad Levy</a>
     </div>

    <div>
      <a href="https://github.com/sahat/hackathon-starter">GitHub Project</a>
      <a href="https://github.com/sahat/hackathon-starter/issues"> Issues</a>
    </div>
  </div>
</div>